$base-font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;;
$base-font-size:   14px;
$base-font-weight: 400;
$base-line-height: 2;
$spacing:20px;
$text-color:#111;
$background-color: #fdfdfd;
$green:#00A19A;
$grey:#b5b5b6;
$blue:#7bd2ea;
$gold:#C8A062;
$pink:#FC908D;
$red:#BB0101;

// Width of the content area
$pc-width: 1024px;
$ipad-width:     768px;
$side-width:     568px;

.text_green{
  color: $green;
  a{
    color: $green;
  }
}

.text_blue{
  color: $blue;
  a{
    color: $blue;
  }
}

span.pink{
	color: #e00549;
	font-size:30px;
text-shadow: 1px 1px 1px #FF3579;
}

span.gold_cl{
	color: #8c750d;
	font-size:30px;
text-shadow: 1px 1px 1px #A38C24;
}

span.k_cl{
	font-size:18px;
	color: #AF9830;
}


span.pt{
	font-size:18px;
	color: #CBCAD0;
}

@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, img, dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block;
}
table {
    border-spacing: 0;
}

ol,ul{
  list-style: none;
}

a{
	text-decoration:none;
}

a:hover img{
	opacity: .7;
}

img{
	width: 100%;
  transition: 0.2s;
}

body{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	-webkit-text-size-adjust:100%;
	font-size: 14px;
  line-height: 1.3;
  background: #dfdfdf;
}

h2{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3{
  font-size: 18px;
}

.wrap_top{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto 20px;
  background: #fff;
  padding: 20px;
}

//パンくずリストのスタイル
.breadcrumbs{
  font-size: 14px;
  margin-bottom: 10px;
}

.wp-pagenavi{//ページナビのスタイル
  text-align: center;
  height: 30px;
  :first-child{
    border-radius: 5px 0 0 5px;
  }
  :last-child{
    border-radius: 0 5px 5px 0;
  }
  span.current{
    padding: 10px 13px;
    border: 1px solid;
    border-color: $red;
    background: $red;
    color: #fff;
  }
  a{
    padding: 10px 13px;
    border: 1px solid #333;
    color: #333;
  }
}
