/*宅配買取ここから*/

.takuhai{
	width: 700px;
  margin: 0 auto 20px;
	box-sizing: border-box;
}
.takuhai>ul>li{
	border-radius:5px ;
	font-size: 13px;
	padding: 20px;
	border: 1px solid #dfdfdf;
	margin-bottom: 20px;
}

.takuhai>ul>li.no1{
	background: url("../img/117795.png") no-repeat 10px 30px;
	-webkit-background-size:100px ;
	background-size: 100px;
}

.takuhai>ul>li.no1>p>a{
	display:block;
	width: 230px;
	height: 55px;
	border-radius:5px ;
	background: url(../img/sozai_11.png) no-repeat #f56767 2px 2px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	box-sizing:border-box;
	line-height:55px;
	padding-left: 55px;
	box-shadow: 1px 1px 3px #333;
	transition:all .3s;
}

.takuhai>ul>li.no1>p>a:hover{
	box-shadow: 0 0 30px rgba(255,255,255,.6) inset;
}

.takuhai>ul>li.no2{
	background: url("../img/344074.png") no-repeat 10px 30px;
	-webkit-background-size:100px ;
	background-size: 100px;
}

.takuhai>ul>li.no2>ul{
	margin-left: 150px;
	margin-top: -20px
}

.takuhai>ul>li.no2>ul>li{
	float: left;
	margin-left: 10px;
	height: 100px;
	width:135px;
	text-align:center;
}

li.one{
	background: url(../img/121204.png) no-repeat 15px 0px;
	-webkit-background-size:100px ;
	background-size: 100px;

}

li.two{
	background: url(../img/265591.png) no-repeat 15px 15px;
	-webkit-background-size:100px ;
	background-size: 100px;
}

.takuhai>ul>li.no2>ul>li.three{
	background: url("../img/344045.png") no-repeat 15px 15px;
	-webkit-background-size:100px ;
	background-size: 100px;
	width: 150px;
}

.takuhai>ul>li.no3{
	background: url(../img/tumeru.png) no-repeat 5px 50px;
	-webkit-background-size:150px ;
	background-size: 150px;
}

.takuhai>ul>li.no3>h3{
	margin-top: -10px;
	margin-left: 170px;
	background: url(../img/130029.png) no-repeat 0 15px;
	-webkit-background-size:100px ;
	background-size: 100px;
	height: 80px;
}

.takuhai>ul>li.no3>dl{
	width: 400px;
	height: 90px;
	margin: 0 auto;
	box-sizing: border-box;
	border: 3px solid #3ba1eb;
	background: url(../img/biru_car.png) no-repeat right;
	-webkit-background-size: 170px;
	background-size: 170px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

.takuhai>ul>li.no3>dl>dd{
	color: #F56767;
	font-size: 14px;
}

.takuhai>ul>li.no4{
	background: url("../img/120434.png") no-repeat 0 40px;
	-webkit-background-size:100px ;
	background-size: 100px;
	height: 100px;
}
.takuhai>ul>li.no5{
	height: 100px;
	background: url("../img/254241.png") no-repeat 15px 50px;
	-webkit-background-size:110px ;
	background-size: 110px;
}

.takuhai>ul>li.no6{
	width: 550px;
	height:34px;
	border:3px solid #F56767;
	margin: 0 auto;
	padding-top: 10px;
}

.takuhai>ul>li.no6>p{
	margin: 0;
	font-size:12px;
}


.takuhai>ul>li.no6>p.tel{
	float:left;
	font-size:30px;
	font-weight:bold;
	padding-left: 30px;
	background: url(../img/ptel.png) no-repeat 0;
	-webkit-background-size: 30px;
	background-size: 30px;

}

.takuhai>ul>li.no6>p.tel>span{
	color: #F56767;
}

.takuhai>ul>li.no6>p.free{
	border-radius:5px ;
	margin-top: -15px;
	margin-left: 30px;
	height: 50px;
	width: 270px;
	line-height: 50px;
	font-size:23px;
	padding-left: 10px;
	float:left;
		background: #F56767 url(../img/free_takuhai.png) no-repeat right;
	-webkit-background-size: 50px;
	background-size: 50px;
	box-shadow: 1px 1px 3px;
	transition:all .3s;
}

.takuhai>ul>li.no6>p.free:hover{
	box-shadow: 0 0 30px rgba(255,255,255,.6) inset;
}


.takuhai>ul>li.no6>p.free>a{
	height: 50px;
	width: 270px;
	display:block;
	color: #fff;

}

.takuhai>ul>li>h2{
	font-size: 18px;
	font-weight: bold;
	width: 300px;
}

.takuhai>ul>li>h3{
	margin-left: 150px;
	color: #F40045;
	font-size: 16px;
	font-weight: 600;
}

.takuhai>ul>li>p{
	margin-left: 150px;
	margin-top: 50px;
}

.takuhai>ul>li>p>span{
	color: #89DDFF;
	display: block;
}

.takuhai>ul>li.no1>p{
	margin-top: 0px;
}

.takuhai>ul>li>p:nth-child(n+3){
	margin-top: 10px;
}

.takuhai>ul>li.no3>p{
	max-height:100%;
}


.takuhai>ul>li.no2>p{
	margin-top: 100px;
}

.takuhai>ul>li.no4>p{
margin-top: 10px;
}

/*宅配買取ページ終わり*/
